

.main-content {
    margin-top: 48px;
    .area-sticky {
        position: sticky;
        top: 20px;
    }
    .carrousel {
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        .content-image {
            background-color: transparent;
            line-height: inherit;
            width: 30%;
            height: 100px;
            &:hover {
                border-color: var(--border-hover-color)
            }
        }
        .content-image:focus {
            border-color: var(--border-hover-color);
            box-shadow: 0 0 0 3px var(--border-focus-color);
        }
        .content-image.active {
            border-color: var(--border-select-color)
        }
    }

    .content-image{
        
        line-height: 300px;
        padding: 4px;
        text-align: center;
        height: 336px;
        border: var(--border-color) solid 2px;
        border-radius: var(--button-border-radio);
        align-self: center;

        .product-image {
            height: auto;
            max-height: 328px;
            max-width: 100%;
        }
        .mini-image{
            height: auto;
            max-height: 83px;
            max-width: 100%;
        }
    }
    .caracteristics{
        display: flex;
        text-align: center;
        margin-top: 76px;
        justify-content: space-evenly;
        img {
            height: 27px;
            margin-bottom: 16px;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: var(--text-black-color);
        }
    }

    .caracteristics-app {
        display: block;
        text-align: center;
        margin-top: 76px;
        div {
            margin-top: 40px;
        }
        // justify-content: space-evenly;
        img {
            height: 27px;
            margin-bottom: 16px;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: var(--text-black-color);
        }
    }

    .title-description{
        color: var(--text-black-color);
        font-size: 19.2px;
        line-height: 1.25;
        font-weight: 500;
        margin-top: 72px;
        margin-bottom: 0;
    }

    .content-description {
        margin-top: 48px;
        ul {
            list-style-type: none;
            display: flex;
            padding: 0;

            li {
                margin-right: 24px;
                font-size: 19.2px;
                line-height: 1.25px;
                font-weight: 500;
                cursor: pointer;
            }
            li.active {
                padding-bottom: 12px;
                border-bottom: var(--text-black-color) solid 2px;
                color: var(--text-black-color);
                font-weight: 600;
            }
        }
        .content-tab {
            margin-top: 14px;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
        }
    }

    .badget-text {
        letter-spacing: 2px;
        font-size: 13.33;
        margin-bottom: 8px;
    }


    .title-general {
        margin-bottom: 0;
        font-size: 40px;
        color: var(--text-black-color);
        font-weight: 700;
        line-height: 48px;
    }
    .subtitle-general {
        font-size: 27.65px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 48px;
    }
    .mb-8px {
        margin-bottom: 8px;
    }

    .text-black {
        color: var(--text-black-color);
    }
    .text-pink {
        color: var(--text-release-color);
    }

    .specifications {
        margin-top: 12px;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0px;
        li {
            display: flex;
            justify-content: space-between;
            padding-top: 17px;
            padding-bottom: 17px;
            border-top: var(--border-color) solid 1px;
            p {
                font-size: 14px;
                font-weight: 500;
            }
            &:last-child {
                border-bottom: var(--border-color) solid 1px;
            }
        }
    }
    


}

@media (max-width:768px) {
    .specifications {
        li{
            display: block !important;
        }
        
    }
}