<div style="margin-bottom: 200px;">
  <!-- Seccion Header -->
  <app-header></app-header>

  <!-- Seccion main content -->
  <div *ngIf="product" class="container main-content">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-6 padding-right margin-76">
        <div class="area-sticky">
          <div class="content-image">
            <img loading="lazy" class="product-image" [src]="imageSelected">
          </div>
  
          <div class="carrousel">
            <button *ngFor="let image of product.images" [ngClass]="{'active': image===imageSelected}" class="content-image"  (click)="eventSelectImage(image)">
              <img loading="lazy" class="mini-image" [src] = "image">
            </button>
          </div>

          <div class="caracteristics col-sm-none">
            <div>
              <img src="../assets/images/icons/icon1.png">
              <p>Customizable Touch Controls</p>
            </div>
            <div>
              <img src="../assets//images/icons/icon2.png">
              <p>Built-in Equalizer</p>
            </div>
            <div>
              <img src="../assets/images/icons/icon3.png">
              <p>Active Noise Cancellation</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-6 padding-left">
        <p class="badget-text text-pink">NEW RELEASE</p>
        <h2 class="title-general ">{{product.name}}</h2>
        <p class="subtitle-general ">{{product.description}}</p>
        <p class="badget-text">STARTING AT</p>
        <h2 class="title-general">{{product.price}}</h2>

        <div class="content-description">
          <div>
            <ul>
              <li [ngClass]="{'active': currentTab === 0}" class="tab-item" (click)="eventSelectTabs(0)">Overview</li>
              <li [ngClass]="{'active': currentTab === 1}" class="tab-item" (click)="eventSelectTabs(1)">Features</li>
              <li [ngClass]="{'active': currentTab === 2}" class="tab-item" (click)="eventSelectTabs(2)">What's in the box</li>
            </ul>
            <div class="content-tab">
              <p *ngIf="currentTab===0">{{product.overview}}</p>
              <p *ngIf="currentTab===1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ex illum quo necessitatibus reprehenderit dolore dignissimos obcaecati distinctio odit! Nisi labore rerum esse enim sunt? Libero ex saepe excepturi distinctio.</p>
              <p *ngIf="currentTab===2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla iste voluptas ea facilis voluptatum quod veniam nam praesentium illum cupiditate! Suscipit voluptatibus eum iure dignissimos impedit. Repellendus similique consequatur tenetur!</p>
            </div>
          </div>
        </div>

        <div class="caracteristics-app ">
          <div>
            <img src="../assets/images/icons/icon1.png">
            <p>Customizable Touch Controls</p>
          </div>
          <div>
            <img src="../assets//images/icons/icon2.png">
            <p>Built-in Equalizer</p>
          </div>
          <div>
            <img src="../assets/images/icons/icon3.png">
            <p>Active Noise Cancellation</p>
          </div>
        </div>

        <p class="title-description">Choose your finish.</p>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">
            <app-item-info [showBorder]="true" [titleItem]="'Ivory White'" [active]="typeProductSelected===0" (click)="eventTypeProduct(0)"
             [descripItem]="'For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True. '"
            ></app-item-info>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">
            <app-item-info [showBorder]="true" [titleItem]="'Matte Black'" [active]="typeProductSelected===1" (click)="eventTypeProduct(1)"
             [descripItem]="'Of all of the celestial bodies that capture our attention and fascination as astronomers.'"
            ></app-item-info>
          </div>
        </div>

        <p class="title-description">Would you like to add extended warranty coverage?.</p>
        <div class="row">
          <app-item-info [showBorder]="true" [titleItem]="'2 years coverage'" [active]="warrantySelected===0" (click)="eventWarrancy(0)"
          [descripItem]="'For the past 75 years, Sennheiser has put sound first.'"></app-item-info>

          <app-item-info [showBorder]="true" [titleItem]="'3 years coverage'" [active]="warrantySelected===1" (click)="eventWarrancy(1)"
          [descripItem]="'For the past 75 years, Sennheiser has put sound first.'"></app-item-info>
        </div>

        <p class="title-description">Features.</p>
        <div class="row">
          <app-item-info [showBorder]="true" [titleItem]="'Voice Assistant support'" [active]="featureSelected===0" (click)="eventFeature(0)"></app-item-info>

          <app-item-info [showBorder]="true" [titleItem]="'Customizable controls'" [aditionalPrice]="'+ $25'" [active]="featureSelected===1" (click)="eventFeature(1)"></app-item-info>
        </div>
        
        <p class="title-description">Specifications.</p>
        <ul class="specifications" *ngIf="product.specifications">
          <li *ngFor= "let item of product.specifications">
            <p class="text-black">{{item.key}}</p>
            <p class="text-black">{{item.value}}</p>
          </li>
        </ul>


      </div>
    </div>
    
    
  </div>

  <!-- Seccion Footer -->
  <app-footer [productPrice]="product ? product.price : '$0'"></app-footer>
</div>