<button *ngIf="titleItem && showBorder" class="container-item" [ngClass]="{'active' : active}">
    <div class="titleItem">
        <p >{{titleItem}}</p>
        <span *ngIf="aditionalPrice">{{aditionalPrice}}</span>
    </div>
    <p *ngIf="descripItem">{{descripItem}}</p>
</button>

<div *ngIf="titleItem && !showBorder" class="footer-item">
    <div class="titleItem">
        <p >{{titleItem}}</p>
        <span *ngIf="aditionalPrice">{{aditionalPrice}}</span>
    </div>
    <p class="footer-item-desc" *ngIf="descripItem">{{descripItem}}</p>
</div>