.container {
    .container__card {
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 2rem;
    }
    .section-buttons {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}